<!DOCTYPE html>
{% load static %}
<html>
      <head>
            <title>Login</title>
            <link rel="stylesheet" type="text/css" href="{% static 'login_info/css/login_info.css' %}">
            <script src="{% static 'login_info/js/login_info.js' %}"></script>
      </head>
      <body>
      <div class="login">
            <div id="content">
                  <div id="container">
                       <div id="header">
                             <h1>Login Information</h1>
                       </div>
                       <form method="post" id="login-form">
                              <div class="submit-row">
                                    {% csrf_token %} {{ form.as_p }}
                              </div>
                              <div class="submit-row">
                                    <button type="submit">Login</button> &nbsp;
                                    <button type="button" id="sighup" onclick="fnSignUp();">sign up</button>
                              </div>
                        </form>
                  </div>
            </div>
      </div>
      </body>
</html>
