{% load static %}
<html>
<head>
    <title>기사문장분석</title>
	<link rel="stylesheet" href="{% static 'article/css/word_class.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% include 'navigator_word.html' %}
    <div class="content-area">
        <form id="submitForm">
            <div class="content-wrapper_header">
               <div id="navigator_header" class="navigator_header">
                    <ul>
                       <li><a href="#" id="submitButton"    style="color:#fff;font-weight: bold;">문장제출</a></li>
                       <li><a href="#" id="wordCheckButton" style="color:#fff;font-weight: bold;">단어검증</a></li>
<!--                       <li><a href="#" id="cnvrtTpcButton"  style="color:#fff;font-weight: bold;">변환토픽</a></li>-->
                    </ul>
               </div>
            </div>
      	    <div class="content">
              <label for="src_url">1. SOURCE URL</label><br>
              <input type="url" id="src_url" placeholder="Enter source url here.."><br><br>
              <label for="src_title">2. TITLE</label><br>
              <input type="text" id="src_title" placeholder="Enter title here.."><br><br>
              <label for="artcl_content">3. CONTENT</label>
              <div class="button_result_container">
                  <select id="src_type">
                      {% for group_code in group_codes %}
                      <option value="{{ group_code }}">{{ group_code }}</option>
                      {% endfor %}
                  </select>&nbsp
<!--                  <button id="submitButton">Submit Article</button>-->
                  <button type="button" id="clearButton">Clear Text</button>
                  <button type="button" id="allClearButton">All Text</button>
                  <div id="result"></div>
              </div>
              <textarea id="artcl_content" rows="36" placeholder="Enter article here..."></textarea><br>
            </div>
        </form>
        <div class="right-side-form">
            <div class="content-wrapper_header">
               <div class="navigator_header">
                    <label style="color:blue;"></label><br><br>
                    <ul>
                       <li style="color:#fff;font-weight: bold;">일별 생활 영어</li>
                    </ul>
               </div>
            </div>
            <div class="right-side">
                <!-- 좌측 섹션 내용 -->
                <div class="label-container">
                    <label>WORD CLASS LIST</label>
                    <ul>
    <!--                    <li><a href="#" id="wordCheckButton">WORD CHECK</a></li>-->
                    </ul>
                </div><br>
            </div>
        </div>
    </div>      
    <script src="{% static 'article/word_class.js' %}"></script>
</body>
</html>
