{% load static %}
<html>
<head>
    <title>토익 PART5 문제 해석</title>
    <link rel="stylesheet" href="{% static 'article/css/feedback_english.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% include 'navigator_word.html' %}
    <div class="content-area">
        <form class="content-form" id="submitForm">
            <div class="content-wrapper_header">
               <div id="navigator_header" class="navigator_header">
                    <ul>
                       <li><a href="#" id="backButton"       style="color:#fff;font-weight: bold;">문제풀기</a></li>
<!--                       <li><a href="#" id="rs_completeButton"    style="color:#fff;font-weight: bold;">완료처리</a></li>-->

                    </ul>
               </div>
            </div>
            <div class="content">
                <input type="hidden" id="test_order_no"      value="{{ feedback_page_info.0.trgt_order_no }}"    />
                <input type="hidden" id="test_page_date"     value="{{ feedback_page_info.0.trgt_page_date }}"    />

                   <div class="title-view">
                        <strong>토익 PART5 문제 해석 (</strong>
                        <select id="pagedateList" onchange="selectedPageDate(this)">
                            {% for item in select_tag_info %}
                            <option value="{{ item.order_no }}" data-page_date="{{ item.page_date }}"
                                 {% if item.page_date == feedback_page_info.0.trgt_page_date %}selected="selected"{% endif %}>
                                {{ item.page_date }} : {{ item.test_frq }}
                            </option>
                            {% endfor %}
                        </select> <strong> )</strong>
                  </div>
                  {% with question1=feedback_page_content.0 %}
                  <label>
                      question 1 [
                      <strong style="{% if question1.result_value == 'Y' %} color: blue {% else %} color: red {% endif %}">
                        {% if question1.result_value == 'Y' %}정답{% else %}오답{% endif %}
                      </strong>
                      <strong>, Answer : {{ question1.your_answer | upper }}</strong>
                    ]
                  </label>
                  <textarea id="artcl_content1" rows="3" placeholder="Enter article here..." readonly>{{  question1.question_content }}</textarea><br>
                  <div class="toeic-test1">
                    <dl>
                        <dd>
                            <ul>
                                <li><span><input type="radio" name="question1" value="a" id="a1" title="" {% if question1.correct_answer == 'a' %}checked="checked"{% endif %}><label for="a1"> {{ feedback_page_content.0.choice_a }}</label></span></li>
                                <li><span><input type="radio" name="question1" value="b" id="b1" title="" {% if question1.correct_answer == 'b' %}checked="checked"{% endif %}><label for="b1"> {{ feedback_page_content.0.choice_b }}</label></span></li>
                                <li><span><input type="radio" name="question1" value="c" id="c1" title="" {% if question1.correct_answer == 'c' %}checked="checked"{% endif %}><label for="c1"> {{ feedback_page_content.0.choice_c }}</label></span></li>
                                <li><span><input type="radio" name="question1" value="d" id="d1" title="" {% if question1.correct_answer == 'd' %}checked="checked"{% endif %}><label for="d1"> {{ feedback_page_content.0.choice_d }}</label></span></li>
                            </ul>
                        </dd>
                    </dl>
                  </div>
                  <textarea id="feedback_content1" rows="6" placeholder="Enter article here..." readonly>{{ question1.feedback }}</textarea><br>
                  {% endwith %}

                  {% with question2=feedback_page_content.1 %}
                  <label>
                      question 2 [
                      <strong style="{% if question2.result_value == 'Y' %} color: blue {% else %} color: red {% endif %}">
                        {% if question2.result_value == 'Y' %}정답{% else %}오답{% endif %}
                      </strong>
                      <strong>, Answer : {{ question2.your_answer | upper }}</strong>
                    ]
                  </label>
                  <textarea id="artcl_content2" rows="3" placeholder="Enter article here..." readonly>{{  question2.question_content }}</textarea><br>
                  <div class="toeic-test2">
                    <dl>
                        <dd>
                            <ul>
                                <li><span><input type="radio" name="question2" value="a" id="a2" title="" {% if question2.correct_answer == 'a' %}checked="checked"{% endif %}><label for="a2"> {{  question2.choice_a }}</label></span></li>
                                <li><span><input type="radio" name="question2" value="b" id="b2" title="" {% if question2.correct_answer == 'b' %}checked="checked"{% endif %}><label for="b2"> {{  question2.choice_b }}</label></span></li>
                                <li><span><input type="radio" name="question2" value="c" id="c2" title="" {% if question2.correct_answer == 'c' %}checked="checked"{% endif %}><label for="c2"> {{  question2.choice_c }}</label></span></li>
                                <li><span><input type="radio" name="question2" value="d" id="d2" title="" {% if question2.correct_answer == 'd' %}checked="checked"{% endif %}><label for="d2"> {{  question2.choice_d }}</label></span></li>
                            </ul>
                        </dd>
                    </dl>
                  </div>
                  <textarea id="feedback_content2" rows="6" placeholder="Enter article here..." readonly>{{  question2.feedback }}</textarea><br>
                  {% endwith %}

                  {% with question3=feedback_page_content.2 %}
                  <label>
                      question 3 [
                      <strong style="{% if question3.result_value == 'Y' %} color: blue {% else %} color: red {% endif %}">
                        {% if question3.result_value == 'Y' %}정답{% else %}오답{% endif %}
                      </strong>
                      <strong>, Answer : {{ question3.your_answer | upper }}</strong>
                    ]
                  </label>
                  <textarea id="artcl_content3" rows="3" placeholder="Enter article here..." readonly>{{  question3.question_content }}</textarea><br>
                  <div class="toeic-test3">
                    <dl>
                        <dd>
                            <ul>
                                <li><span><input type="radio" name="question3" value="a" id="a3" title="" {% if question3.correct_answer == 'a' %}checked="checked"{% endif %}><label for="a3"> {{  question3.choice_a }}</label></span></li>
                                <li><span><input type="radio" name="question3" value="b" id="b3" title="" {% if question3.correct_answer == 'b' %}checked="checked"{% endif %}><label for="b3"> {{  question3.choice_b }}</label></span></li>
                                <li><span><input type="radio" name="question3" value="c" id="c3" title="" {% if question3.correct_answer == 'c' %}checked="checked"{% endif %}><label for="c3"> {{  question3.choice_c }}</label></span></li>
                                <li><span><input type="radio" name="question3" value="d" id="d3" title="" {% if question3.correct_answer == 'd' %}checked="checked"{% endif %}><label for="d3"> {{  question3.choice_d }}</label></span></li>
                            </ul>
                        </dd>
                    </dl>
                  </div>
                  <textarea id="feedback_content3" rows="6" placeholder="Enter article here..." readonly>{{  question3.feedback }}</textarea><br>
                  {% endwith %}

<!--                  <button type="button" id="backButton">Back</button><br><br>-->
            </div>
        </form>
        <div class="right-side-form">
            <div class="content-wrapper_header">
               <div class="navigator_header">
                    <label style="color:blue;"></label><br><br>
                    <ul>
                       <li style="color:#fff;font-size:larger;font-weight:bold;">문제 풀이 현황</li>
                    </ul>
               </div>
            </div>
            <div class="right-side">
<!--                <div class="submit-container">-->
<!--                    <button type="button" id="rs_submitButton"><i class="fas fa-save"></i>Save Info</button><br>-->
<!--                </div><br>-->
<!--                <div class="submit-container">-->
<!--                    <button type="button" id="rs_completeButton"><i class="fas fa-check"></i>Completion</button><br>-->
<!--                </div>-->
                <!-- 좌측 섹션 내용 변경 -->
                <div class="label-container">
                    <ul>
                        {% for word in wrd_rows %}
                          <li><a href="/article/word_detail/?word={{ word }}&wrd_title={{ wrd_title }}" class="word-link"> {{ word }} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'article/feedback_english.js' %}"></script>
    {% if feedback_page_info.0.last_page_flag == "Y" %}
    <script>
        alert("마지막 페이지입니다.");
    </script>
    {% endif %}
</body>
</html>
