{% load static %}
<html>
<head>
    <title>생활회화</title>
    <link rel="stylesheet" href="{% static 'article/css/living_english.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% include 'navigator_word.html' %}
    <div class="content-area">
        <form id="submitForm">
            <div class="content-wrapper_header">
               <div id="navigator_header" class="navigator_header">
                    <ul>
                       <li><a href="#" id="submitButton"    style="color:#fff;font-weight: bold;">문장제출</a></li>
                       <li><a href="#" id="wordCheckButton" style="color:#fff;font-weight: bold;">단어검증</a></li>
                       <li><a href="#" id="cnvrtTpcButton"  style="color:#fff;font-weight: bold;">변환토픽</a></li>
                    </ul>
               </div>
            </div>
            <div class="content">
                <input type="hidden" id="hddn_url"       value="https://free.ybmclass.com/free/eng/eng_ybm_view.asp?idx={{ living_selectd_chapter }}" />
                <input type="hidden" id="selChapter"     value="{{ living_selectd_chapter }}"    />
                <input type="hidden" id="selTitle"       value="{{ living_english_title_text }}" />
                <input type="hidden" id="newCount"       value="{{ living_english_new_count }}"  />
                <input type="hidden" id="topicDurStart"  value="{{ living_english_topic_dur_start }}" />
                <input type="hidden" id="topicDurEnd"    value="{{ living_english_topic_dur_end }}"   />
                <input type="hidden" id="audioNameText"  value="{{ audio_name_text }}" />
                <div id="result"></div><br>
                <label>1. TITLE</label>&nbsp;&nbsp;
                <select id="titleList">
                    {% for chapter, title, voice_date in living_english_titles %}
                     <option value="{{ chapter }}">{{ title }}</option>
                    {% endfor %}
                </select>&nbsp;
                <button type="button" id="searchButton">SEARCH</button>&nbsp;
                <button type="button" id="completeButton">COMPLETE</button><br><br>
                <label>2. 오늘의 학습 주제</label><br>
                <textarea id="artcl_content1" rows="10" placeholder="Enter article here..." readonly>{{ living_english_eng_text }}</textarea><br>
                <label>3. 해석 및 해설</label><br>
                <textarea id="artcl_content2" rows="10" placeholder="Enter article here..." readonly>{{ living_english_kor_text }}</textarea><br>
                <label>4. [Additional expressions]</label><br>
                <textarea id="artcl_content3" rows="40" placeholder="Enter article here..." readonly>{{ living_english_additional_text }}</textarea><br>
            </div>
        </form>
        <div class="right-side-form">
            <div class="content-wrapper_header">
               <div class="navigator_header">
                    <label style="color:blue;"></label><br><br>
                    <ul>
                       <li style="color:#fff;font-weight: bold;">일별 생활 영어</li>
                    </ul>
               </div>
            </div>
            <div class="right-side">
                <!-- 좌측 섹션 내용 -->
                <div class="label-container">
                    <input type="text" id="searchGrpCd" style="width:100%;" value="{{ group_code }}"><br><br>
                    <audio id="myAudio" src="//upsisa.ybmnet.co.kr/freezone/e900/mp3/{{ audio_name_text }}.mp3" controls="controls" type="audio/mpeg" width="80%" height="35px">
                    </audio>
                    <div class="row">
                         <input type="button" id="start"  value="Start" />
                         <input class="audio-btn" type="button" id="front"  value="Front" />
                         <input class="audio-btn" type="button" id="play"   value="Play"  />
                         <input class="audio-btn" type="button" id="back"   value="Back"  />
                         <input type="button" id="fix"    value="Fix"   />
                         <input type="button" id="pause"  value="Pause" />
                    </div>
                    <ul>
                       <li style="border-bottom: 3px solid #aaa;"></li>
                    </ul>
                    <!--
                    <div class="row">
                         <label>Volume</label>
                         <input id="volume_size" type="text" value="0000" />
                         <input type="button" id="reset_volume" value="Vol Set" onclick="resetVolumeInfo()" />
                    </div>
                    -->
                    <div class="row">
                         <label>Start</label>
                         <input id="topic_dur_start" type="text" value="{{ living_english_topic_dur_start }}" />
                         <input type="button" id="s_point" value="S-Point" />
                    </div>
                    <div class="row">
                         <label>End</label>
                         <input id="topic_dur_end" type="text" value="{{ living_english_topic_dur_end }}" />
                         <input type="button" id="e_point" value="E-Point" />
                    </div>
                    <ul>
                       <li style="border-bottom: 3px solid #aaa;"></li>
                    </ul>
                    <label style="background-color:white;color:blue;">완료한 학습 주제</label>
                    <ul>
                        {% for chapter, title, voice_date in living_english_comp_titles %}
                          <li><a href="{{ chapter }}" class="chapter-link"> {{ title }} </a></li>
                        {% endfor %}
                    </ul>
                </div><br>
            </div>
        </div>
    </div>
    <script src="{% static 'article/living_english.js' %}"></script>
</body>
</html>
