{% load static %}
<html>
<head>
    <title>단어: {{ wrd_word }}</title>
	<link rel="stylesheet" href="{% static 'article/css/word_detail.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% include 'navigator_word.html' %}
    
    <input type="hidden" id="wrd_title"  value="{{ wrd_title }}" />    
    <input type="hidden" id="wrd_word"   value="{{ wrd_word }}"  />
    <input type="hidden" id="wrd_tag"    value="{{ wrd_tag }}"   />
    <input type="hidden" id="wrd_mean"   value="{{ wrd_mean }}"  />
    <input type="hidden" id="wrd_guess"  value="{{ wrd_guess }}" />
    <input type="hidden" id="wrd_group"  value="{{ wrd_group }}" />
    <input type="hidden" id="wrd_eng_example"  value="{{ wrd_eng_example }}" />
    <input type="hidden" id="wrd_kor_example"  value="{{ wrd_kor_example }}" />
    <input type="hidden" id="wrd_eng_example2" value="{{ wrd_eng_example2 }}" />
    <input type="hidden" id="wrd_kor_example2" value="{{ wrd_kor_example2 }}" />
    
    <div class="content-area">
      	<div class="content">
           <form id="submitForm">
              <div class="label-div">    
                  <div class="label-button-group">        
                      <label for="clearWord">1. WORD</label>&nbsp;
                      <button type="button" id="clearWord">Clear Text</button>
                      <button type="button" id="createWord">Create Word</button>
                  </div>                        
                  <input type="text" id="txt_word" placeholder="Enter Word here.." >
              </div>  
              <div class="label-div">                     
                  <div class="label-button-group">        
                      <label for="clearGuessing">2. GUESSING</label>&nbsp;
                      <button type="button" id="clearGuessing">Clear Text</button>&nbsp;
                      <button type="button" id="expandGuessing">Expand/Collapses</button>
                  </div>
                  <textarea id="txt_guessing" rows="5" placeholder="Enter guessing here..."></textarea>
              </div>
              <div class="label-div">                     
                  <div class="label-button-group">                           
                      <label for="clearDefEng" style="color:darkgreen; font-weight:bold;">3. DEFINITION(ENG)</label>&nbsp;
                      <button type="button" id="clearDefEng">Clear Text</button>
                      <button type="button" id="speakDefEng">Speaking</button>&nbsp;
                      <button type="button" onclick="stopSpeaking()">Stop Speaking</button>
                  </div>
                  <textarea id="txt_defeng" rows="5" placeholder="Enter Definition(ENG) here..."></textarea>
              </div>
              <div class="label-div">
                  <div class="label-button-group">        
                      <label for="clearDefKor" style="color:darkgreen; font-weight:bold;">4. DEFINITION(KOR)</label>&nbsp;
                      <button type="button" id="clearDefKor">Clear Text</button>
                  </div>
                  <textarea id="txt_defkor" rows="5" placeholder="Enter Definition(KOR) here..."></textarea>
              </div>
              <div class="label-div">
                  <div class="label-button-group">        
                      <label for="clearExampleEng" style="color:red; font-weight:bold;">1-EXAMPLE(ENG)</label>&nbsp;
                      <button type="button" id="clearExampleEng">Clear Text</button>&nbsp;
                      <button type="button" id="expandExampleEng">Expand/Collapses</button>
                      <button type="button" id="speakExampleEng">Speaking</button>&nbsp;
                      <button type="button" onclick="stopSpeaking()">Stop Speaking</button>
                  </div>
                  <textarea id="txt_eng_example" rows="5"  placeholder="Enter Example(ENG) here..."></textarea>                  
              </div>
              <div class="label-div">
                  <div class="label-button-group">        
                      <label for="clearExampleKor" style="color:red; font-weight:bold;">1-EXAMPLE(KOR)</label>&nbsp;
                      <button type="button" id="clearExampleKor">Clear Text</button>
                      <button type="button" id="expandKor">Expand/Collapses</button>
                  </div>
                  <textarea id="txt_kor_example" rows="5" placeholder="Enter Example(KOR) here..."></textarea>                  
              </div>
              <div class="label-div">
                  <div class="label-button-group">        
                      <label for="clearExampleEng2" style="color:blue; font-weight:bold;">2-EXAMPLE(ENG)</label>&nbsp;
                      <button type="button" id="clearExampleEng2">Clear Text</button>
                      <button type="button" id="expandExampleEng2">Expand/Collapses</button>
                      <button type="button" id="speakExampleEng2">Speaking</button>&nbsp;
                      <button type="button" onclick="stopSpeaking()">Stop Speaking</button>
                  </div>
                  <textarea id="txt_eng_example2" rows="5" placeholder="Enter Example(ENG) here..."></textarea>                  
              </div>
              <div class="label-div">
                  <div class="label-button-group">        
                      <label for="clearExampleKor2" style="color:blue; font-weight:bold;">2-EXAMPLE(KOR)</label>&nbsp;
                      <button type="button" id="clearExampleKor2">Clear Text</button>
                      <button type="button" id="expandKor2">Expand/Collapses</button>
                  </div>
                  <textarea id="txt_kor_example2" rows="5" placeholder="Enter Example(KOR) here..."></textarea>                  
              </div>
           </form>
        </div>
        <div class="right-side">
            <div class="submit-container">        
                <button type="button" id="submitButton"><i class="fas fa-save"></i>Save Info</button><br>
            </div><br>                    
            <div class="submit-container">
                <button type="button" id="completeButton"><i class="fas fa-check"></i>Completion</button><br>
            </div>                    
            <!-- 좌측 섹션 내용 변경 -->
            <div class="label-container">
                <ul>
                    {% for word in wrd_rows %}
                      <li><a href="/article/word_detail/?word={{ word }}&wrd_title={{ wrd_title }}" class="word-link"> {{ word }} </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>                       
    </div>      
    <script src="{% static 'article/word_detail.js' %}"></script>
</body>
</html> 