{% load static %}
<html>
	<head>
		<title>단어검증</title>
		<link rel="stylesheet" href="{% static 'article/css/word_check.css' %}" /> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
    {% include 'navigator_word.html' %}
    <div class="content-area">
        <form id="submitForm">
            <div class="content-wrapper_header">
               <div id="navigator_header" class="navigator_header">
                <select id="searchGrpCd">
                   {% for group_code in group_codes %}
                      <option value="{{ group_code }}">{{ group_code }}</option>
                   {% endfor %}
                </select>&nbsp;
                <button type="button" id="searchBtn"><i class="fas fa-search"></i>조회</button>&nbsp; &nbsp;
                COUNT:&nbsp <input type="text" id="rows_cnt" value="{{ rows_cnt }}" style="text-align:center; width:40px;" readonly></input>&nbsp&nbsp
                <button type="button" id="backBtn"><i class="fas fa-undo"></i>되돌아가기</button>&nbsp; &nbsp;
               </div>
            </div>
            <div class="content-title">
                <div class="button-container">
                    <select id="titleList">
                        {% for url, title in titles %}
                        <option value="{{ url }}">{{ title }}</option>
                        {% endfor %}
                    </select>&nbsp;
                    <select id="wordStatus">
                        <option value="D">완료</option>
                        <option value="C" selected >미완료</option>
                    </select>&nbsp;
                    <button type="button" id="refreshBtn"><i class="fas fa-search"></i>조회</button>&nbsp;
                    <button type="button" id="deleteBtn"><i class="fas fa-trash"></i>삭제</button>&nbsp;
                </div><br>
            </div>
            <div class="content">
                <input type="hidden" id="sourceUrl"      value="{{ source_url }}"     />
                <input type="hidden" id="sourceTitle"    value="{{ source_title }}"   />
                <input type="hidden" id="sourceStatus"   value="{{ source_status }}"  />
                <input type="hidden" id="sourceType"     value="{{ source_type }}"    />
                <input type="hidden" id="sourceGubun"    value="{{ source_gubun }}"   />
                <input type="hidden" id="test_page_date" value="{{ test_page_date }}" />
                <input type="hidden" id="selected_date"  value="{{ selected_date }}"  />
                <!-- 'Go Source' 버튼 추가 -->
                # 체크 : 완료대상 단어
                <div class="table-container">
                        <table>
                            <tr>
                                <th><input type="checkbox" id="checkAll" checked /></th> <!-- 마스터 체크박스 추가 -->
                                <th>번호</th>
                                <th>단어</th>
                                <th>English</th>
                                <th>Korean</th>
                                <th>생성일자/그룹코드</th>
                            </tr>
                        </table>
                </div>
            </div>
        </form>
        <div class="right-side-form">
            <div class="content-wrapper_header">
               <div class="navigator_header">
                    <label style="color:blue;"></label><br><br>
                    <ul>
                       <li style="color:#fff;font-weight: bold;">어휘 진행 현황</li>
                    </ul>
               </div>
            </div>
            <div class="right-side">
                <!-- 좌측 섹션 내용 변경 -->
                <div class="label-container">
                    <label><i class="fas fa-download"></i>상태별 처리 버튼</label>
                    <ul>
                        <li><a href="#" id="wordCheckBtn">1차 (미완료->완료)</a></li>
                        <li><a href="#" id="callProcess" style="background-color:#aaa;color:black;">DONE 진행상태</a></li>
                        <li><a href="#" id="wordCheckBtn2">전체체크빼기>대상체크하기(미완료->완료)</a></li>
                        <li><a href="#" id="unDoneProcess">완료조회>체크빼기(완료->미완료)</a></li>
                        <li style="border-bottom: 3px solid #aaa;"></li>
                        <li><a href="#" id="gotoMobile" style="background-color:#aaa;color:black;">초기화</a></li>
                        <li><a href="#" id="sourceBtn">GO SOURCE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>      
    <script src="{% static 'article/word_check.js' %}"></script>
	</body>
</html>