{% load static %}
<html>
<head>
    <title>토익 PART5 문제</title>
    <link rel="stylesheet" href="{% static 'app_test_timer/css/test_english.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body  style="cursor: default;">
    {% include 'navigator_word.html' %}
    <div class="content-area">
        <form class="content-form" id="submitForm">
            <div class="content-wrapper_header">
               <div id="navigator_header" class="navigator_header">
                    <ul>
                       <li><a href="#" id="submitButton"         style="color:#fff;font-weight: bold;">어휘분석</a></li>
                       <li><a href="#" id="feedbackButton"       style="color:#fff;font-weight: bold;">해석보기</a></li>
                       <li><a href="#"                           style="color:#fff;font-weight: bold;"> >| </a></li>
                       <li><a href="#" id="completeButton"       style="color:#fff;font-weight: bold;">정답제출</a></li>
                       <li><a href="#"                           style="color:#fff;font-weight: bold;"> | </a></li>
                       <li><a href="#" id="rs_completeButton"    style="color:#fff;font-weight: bold;">완료처리</a></li>
                    </ul>
               </div>
            </div>
            <div class="content">
               <input type="hidden" id="test_order_no"      value="{{ test_page_info.0.trgt_order_no }}"  />
               <input type="hidden" id="test_page_date"     value="{{ test_page_info.0.trgt_page_date }}" />
               <input type="hidden" id="last_page_flag"     value="{{ test_page_info.0.last_page_flag }}" />
               <input type="hidden" id="prve_page_date"     value="{{ test_page_info.0.prve_page_date }}" />
               <input type="hidden" id="next_page_date"     value="{{ test_page_info.0.next_page_date }}" />

               <div class="title-view">
                    <a id="prve_page_flag_y" href="#" class="btn-v btn-prve">이전</a>
                    <strong>토익 PART5 ( </strong>
                    <select id="pagedateList" onchange="selectedPageDate(this)">

                        {% for item in select_tag_info %}
                        <option value="{{ item.order_no }}" data-page_date="{{ item.page_date }}" data-test_frq="{{ item.test_frq }}"
                             {% if item.page_date == test_page_info.0.trgt_page_date %}selected="selected"{% endif %}>
                            {{ item.page_date }} : {{ item.test_frq }}
                        </option>
                        {% endfor %}
                    </select> <strong> )</strong>
                    {% if test_page_info.0.last_page_flag == "N" %}
                          <a id="last_page_flag_y" href="#" class="btn-v btn-next">다음</a>
                    {% endif %}
                    <div id="result"></div>
              </div>
              {% with question1=test_page_content.0 %}
              <div class="time_block">
                  <div class="labels_container">
                      <label style="margin-right: 10px;">question 1.</label>
                      <div id="timer_container1">
                          <label style="margin-right: 10px;">Elapsed Time : </label>
                          <label id="stop_time1" class="time_input">{{ 0 }} </label>
                          <label>&nbsp;Sec</label>
                      </div>
                  </div>
                  <textarea id="artcl_content1" rows="3" placeholder="Enter article here..." readonly>{{ question1.question_content }}</textarea>
              </div>
              <div class="toeic-test1">
                <dl>
                    <dd>
                        <ul>
                            <li><span><input type="radio" name="question1" value="a" id="a1" title=""><label id="lbl_a1" for="a1"> {{  question1.choice_a }}</label></span></li>
                            <li><span><input type="radio" name="question1" value="b" id="b1" title=""><label id="lbl_b1" for="b1"> {{  question1.choice_b }}</label></span></li>
                            <li><span><input type="radio" name="question1" value="c" id="c1" title=""><label id="lbl_c1" for="c1"> {{  question1.choice_c }}</label></span></li>
                            <li><span><input type="radio" name="question1" value="d" id="d1" title=""><label id="lbl_d1" for="d1"> {{  question1.choice_d }}</label></span></li>
                        </ul>
                    </dd>
                </dl>
              </div>
              {% endwith %}
              {% with question2=test_page_content.1 %}
              <div class="time_block">
                  <div class="labels_container">
                      <label style="margin-right: 10px;">question 2.</label>
                      <div id="timer_container2">
                          <label style="margin-right: 10px;">Elapsed Time : </label>
                          <label id="stop_time2" class="time_input">{{ 0 }} </label>
                          <label>&nbsp;Sec</label>
                      </div>
                  </div>
                  <textarea id="artcl_content2" rows="3" placeholder="Enter article here..." readonly>{{  question2.question_content }}</textarea><br>
              </div>
              <div class="toeic-test2">
                <dl>
                    <dd>
                        <ul>
                            <li><span><input type="radio" name="question2" value="a" id="a2" title=""><label id="lbl_a2" for="a2"> {{  question2.choice_a }}</label></span></li>
                            <li><span><input type="radio" name="question2" value="b" id="b2" title=""><label id="lbl_b2" for="b2"> {{  question2.choice_b }}</label></span></li>
                            <li><span><input type="radio" name="question2" value="c" id="c2" title=""><label id="lbl_c2" for="c2"> {{  question2.choice_c }}</label></span></li>
                            <li><span><input type="radio" name="question2" value="d" id="d2" title=""><label id="lbl_d2" for="d2"> {{  question2.choice_d }}</label></span></li>
                        </ul>
                    </dd>
                </dl>
              </div>
              {% endwith %}
              {% with question3=test_page_content.2 %}
              <div class="time_block">
                  <div class="labels_container">
                      <label style="margin-right: 10px;">question 3.</label>
                      <div id="timer_container3">
                          <label style="margin-right: 10px;">Elapsed Time : </label>
                          <label id="stop_time3" class="time_input">{{ 0 }} </label>
                          <label>&nbsp;Sec</label>
                      </div>
                  </div>
                  <textarea id="artcl_content3" rows="3" placeholder="Enter article here..." readonly>{{  question3.question_content }}</textarea><br>
              </div>
              <div class="toeic-test3">
                <dl>
                    <dd>
                        <ul>
                            <li><span><input type="radio" name="question3" value="a" id="a3" title=""><label id="lbl_a3" for="a3"> {{  question3.choice_a }}</label></span></li>
                            <li><span><input type="radio" name="question3" value="b" id="b3" title=""><label id="lbl_b3" for="b3"> {{  question3.choice_b }}</label></span></li>
                            <li><span><input type="radio" name="question3" value="c" id="c3" title=""><label id="lbl_c3" for="c3"> {{  question3.choice_c }}</label></span></li>
                            <li><span><input type="radio" name="question3" value="d" id="d3" title=""><label id="lbl_d3" for="d3"> {{  question3.choice_d }}</label></span></li>
                        </ul>
                    </dd>
                </dl>
              </div>
              {% endwith %}
            </div>
        </form>
        <div class="right-side-form">
            <div class="content-wrapper_header">
               <div class="navigator_header">
                    <label style="color:blue;"></label><br><br>
                    <ul>
                       <li style="color:#fff;font-size:larger;font-weight:bold;">문제 풀이 현황</li>
                    </ul>
               </div>
            </div>
            <div class="right-side">
                <div id="time-display-container">
                    <div id="time" style="margin-right: 10px;"><span style="color:black">Given Time:</span>  90 Sec</div>
                  <button id="start_btn">Start</button>
                </div>
                <div class="label-container">
                    {% if sum_test_time > 0 %}
                        <ul>
                            {% for inner_list in lst_test_time %}
                                {% for item in inner_list %}
                                    <li>{{ item.0 }} : {{ item.1 }} Sec</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        <hr style="border: 2px solid rgb(170, 170, 170);">
                        <label>overall test duration: {{ sum_test_time }} sec <br>
                              [ remain time:
                              {% if remaining_time < 0 %}
                                    <span style="color: red;"> {{ remaining_time }}</span> sec
                               {% else %}
                                    {{ remaining_time }} sec
                               {% endif %} / res.ratio: {{ crrct_res_ratio }} %]</label>
                    {% endif %}
                    <hr style="border: 2px solid rgb(170, 170, 170);">
                    {% for item in lst_classified_words %}
                        {% if item.undone_tot_cnt > 0 %}
                            <label> uncompleted words: {{ item.undone_tot_cnt }}</label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'app_test_timer/js/test_english.js' %}"></script>
    <!--
    {% if test_page_info.0.last_page_flag == "Y" %}
    <script>
        alert("마지막 페이지입니다.");
    </script>
    {% endif %}
    -->
</body>
</html>
