form {
    flex: 6; /* 전체 공간의 60% 차지 */
}

.content-area {
    display: flex;
    height: calc(100vh - 14%); /* 상단 헤더 높이를 고려한 윈도우 높이 */
}

.content-title {
    flex: 7; /* 전체 공간의 60% 차지 */
    padding-top: 20px;
    padding-left: 30px;
    min-height: 50px; /* 테두리가 내용물 높이까지 이어지도록 설정 */
    max-height: 50px; /* 최대 높이를 화면의 높이로 설정 */
}

.content {
    flex: 7; /* 전체 공간의 60% 차지 */
    border-left: 1px solid #ddd; /* 왼쪽에만 테두리 적용 */
    padding-top: 0;
    padding-left: 30px;
    overflow-y: auto; /* 세로 스크롤바 자동 추가 */
    min-height: 100%; /* 테두리가 내용물 높이까지 이어지도록 설정 */
    max-height: calc(100vh - 14%); /* 최대 높이를 화면의 높이로 설정 */
}

/* Chrome, Safari, Opera에서 스크롤바 숨기기 */
.content::-webkit-scrollbar {
    display: none;
}

.right-side {
    display: flex;
    background-color: #eee;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    overflow-y: auto; /* 세로 스크롤바 자동 추가 */
    min-height: 100%; /* 테두리가 내용물 높이까지 이어지도록 설정 */
    max-height: calc(100vh - 14%); /* 최대 높이를 화면의 높이로 설정 */
}

.content-wrapper_header {
    height: 6%;
    background-color: #4D92AA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #aaa;
    position: relative; /* 상대적 위치 설정 */
}

.navigator_header {
    z-index: 2;
    height: 10%;
    background-color: #4D92AA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigator_header ul li a:hover {
    color: yellow !important;
    font-size: larger; /* 글자 크기를 기본값보다 크게 설정 */
    font-weight: bold; /* 글자를 굵게 설정 */
}
.navigator_header ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.navigator_header li {
    margin-right: 25px; /* Consistent spacing between items */
}

.right-side-form {
    flex: 3; /* 전체 공간의 60% 차지 */
    width: 100%;
    padding-top: 0;
}

.label-div {
    display: flex;
    flex-direction: column; /* 요소들을 세로 방향으로 정렬 */
    align-items: flex-start; /* 요소들을 컨테이너의 시작 부분에 정렬 */
    margin-bottom: 10px; /* 여백 추가 */
}

.label-div label {
    width: 200px; /* '4. DEFINITION(KOR)' 라벨의 너비에 맞춤, 실제 너비에 맞게 조정 필요 */
}

.label-div button {
    margin-left: 10px; /* 라벨과 버튼 사이 10px 여백 */
}

.label-button-group {
    display: flex; /* Flexbox 레이아웃 적용 */
    align-items: center; /* 수직 방향으로 중앙 정렬 */
    margin-bottom: 10px; /* 라벨-버튼 그룹과 입력 필드 사이의 간격 */
}

.label-button-group label {
    margin-right: 10px; /* 라벨과 버튼 사이의 간격 */
    /* 필요한 경우 라벨 스타일링 추가 */
}

.label-button-group button {
    /* 필요한 경우 버튼 스타일링, 예: margin-left: 10px; */
    /* 버튼 스타일링 추가 */
}

.submit-container {
    width: 100%; /* Make submit-container take full width of its parent */
    display: flex;
    justify-content: center; /* Center the button horizontally */
}

#submitButton, #completeButton {
    width: 80%; /* Adjust the width as per requirement */
    height: auto; /* Height will adjust according to content */
    padding: 10px 0; /* Adjust padding to control height */
    /* Other styling properties */
}

.label-container {
    width: 80%; /* .table-container와 동일한 너비 */
    text-align: center;
    margin-top: 20px; /* 상단 여백 추가 */
    max-height: 760px; /* 스크롤바가 필요할 때의 최대 높이 설정, 필요에 따라 조절 가능 */
}

/* Add margin to the label */
label {
    margin-top: 20px; /* Space between label and this container */        
    margin-bottom: 10px; /* Space below each label */
}

/* 리스트 항목을 세로로 배치하고 간격 조정 */
.label-container ul {
    list-style: none; /* 리스트 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin-top: 20px; /* 라벨과의 간격 조정 */
}

.label-container li {
    margin-bottom: 10px; /* 리스트 항목 사이의 간격 */
}

.label-container .word-link.active-word {
    color: blue; /* 더 구체적인 선택자를 사용 */
    background-color: #aaa;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.label-container a {
    display: block; /* 링크를 블록 요소로 만들어 전체 영역이 클릭 가능하도록 설정 */
    padding: 10px 15px;
    background-color: #4D92AA; /* 버튼 배경 색상 */
    color: white; /* 버튼 글자 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    transition: background-color 0.3s; /* 배경색 변경 효과 */
}

.label-container a:hover {
    background-color: #3B6F85; /* 호버 시 배경 색상 변경 */
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* 글꼴 크기 지정 */
    padding: 10px; /* input과 textarea 주변에 10px 패딩 추가 */
    margin-bottom: 20px; /* 아래에 20px 공간 추가 */
    width: 90%; /* 너비 조정, 패딩 때문에 90%에서 줄임 */
    line-height: 1.5;
}

#txt_word {
    padding: 10px; /* input과 textarea 주변에 10px 패딩 추가 */
    margin-bottom: 20px; /* 아래에 20px 공간 추가 */
    width: 90%; /* 너비 조정, 패딩 때문에 90%에서 줄임 */
    background-color: #f0f0f0;
    color: #285C6D;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #ddd;
}

.news_idiom {
    height: 200px;
    width: 100%; /* 너비 조정, 패딩 때문에 90%에서 줄임 */
    margin-top: 25px;
    padding: 10px; /* input과 textarea 주변에 10px 패딩 추가 */
    background-color: #eee;
    border: none; /* 테두리 없애기 */
    resize: none; /* 사용자가 크기 조정을 할 수 없도록 설정 */
}

