<!-- navigator.html -->
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'application/css/navigator_word.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="{% static 'article/common.js' %}"></script>-->
<script type="text/javascript">
    var BASE_URL = "{{ request.scheme }}://{{ request.get_host }}/";
</script>
<div class="content-wrapper">
    <div class="modamtech_icon">
        <img src="{% static 'article/img/modam-tech.png' %}"/>
    </div>
    <div class="navigator">
        <ul>
            <li><a href="#" id="wordClassList" style="color:#fff;font-weight: bold;">CONTENT</a></li>
            <li><a href="#" id="newsSites"     style="color:#fff;font-weight: bold;">NEWS SITES</a></li>
            <li><a href="#" id="livingEnglish" style="color:#fff;font-weight: bold;">LIVING ENG</a></li>
            <li><a href="#" id="testEnglish"   style="color:#fff;font-weight: bold;">TEST ENG</a></li>
            <li><a href="#" id="wordCheckList">WORD CHECK</a></li>
            <li><a href="#" id="naverDic" onClick="openDic(document.getElementById('naverWord').value); event.preventDefault();">NAVER DIC</a></li>
        </ul>
        <input type="text" id="naverWord" value="{{ wrd_word }}" placeholder="Enter Word here..">&nbsp; &nbsp;
        <!--
        <button onclick="stopSpeaking()" style="background-color:#EE7828;color:blue;">STOP SPEAK</button> &nbsp; &nbsp;
        -->
        <p style="color:white;"> RESPONSE </p>&nbsp;
        <input type="text" id="resMessage"value="" style="color:red; width:160px;" readonly></input> &nbsp; &nbsp;
        <button onclick="fnLogout()" style="background-color:#EE7828;color:blue;">LOGOUT</button> &nbsp; &nbsp;
    </div>
</div>
<script src="{% static 'application/js/navigator_word.js' %}"></script>